[submodule "react-adapt-improvise/node_modules/.cache/gh-pages/git@github.com!Bradleytevans!React-Adapt-Improvise.git"] 
   path = react-adapt-improvise/node_modules/.cache/gh-pages/git@github.com!Bradleytevans!React-Adapt-Improvise.git
   url = git://gh-pages/